In [23]:
import pandas as pd

In [24]:
data={
    'first':['vishnu','shiva','brahma'],
    'last':['narayan','mahadev','rachyeta'],
    'email':['vishnu@narayan.com','shiva@mahadev.com','brahma@rachyeta.com']
}

In [25]:
df=pd.DataFrame(data)
df

    first      last                email
0  vishnu   narayan   vishnu@narayan.com
1   shiva   mahadev    shiva@mahadev.com
2  brahma  rachyeta  brahma@rachyeta.com

In [26]:
df['email']

0     vishnu@narayan.com
1      shiva@mahadev.com
2    brahma@rachyeta.com
Name: email, dtype: object

In [27]:
df.set_index('email')

                      first      last
email
vishnu@narayan.com   vishnu   narayan
shiva@mahadev.com     shiva   mahadev
brahma@rachyeta.com  brahma  rachyeta

In [28]:
df

    first      last                email
0  vishnu   narayan   vishnu@narayan.com
1   shiva   mahadev    shiva@mahadev.com
2  brahma  rachyeta  brahma@rachyeta.com

In [32]:
df.set_index('first',inplace=True)

In [36]:
df

            last                email
first
vishnu   narayan   vishnu@narayan.com
shiva    mahadev    shiva@mahadev.com
brahma  rachyeta  brahma@rachyeta.com

In [37]:
df.index

Index(['vishnu', 'shiva', 'brahma'], dtype='object', name='first')

In [41]:
df.loc['vishnu']

last                narayan
email    vishnu@narayan.com
Name: vishnu, dtype: object

In [42]:
df.iloc[0]

last                narayan
email    vishnu@narayan.com
Name: vishnu, dtype: object

In [43]:
df.reset_index(inplace=True)
df

    first      last                email
0  vishnu   narayan   vishnu@narayan.com
1   shiva   mahadev    shiva@mahadev.com
2  brahma  rachyeta  brahma@rachyeta.com