In [2]:
person={
    'first':'sajal',
    'last':'tiwari',
    'email':'sajal@tiwari.com'
}

In [3]:
people={
    'first':['ram'],
    'last':['prasad'],
    'email':['ram@prasad.com']
}

In [7]:
god={
    'first':['vishnu','shiva','brahma'],
    'last':['narayan','mahadev','rachyeta'],
    'email':['vishnu@narayan.com','shiva@mahadev.com','brahma@rachyeta.com']
}

In [8]:
god

{'first': ['vishnu', 'shiva', 'brahma'],
 'last': ['narayan', 'mahadev', 'rachyeta'],
 'email': ['vishnu@narayan.com', 'shiva@mahadev.com', 'brahma@rachyeta.com']}

In [9]:
god['email']

['vishnu@narayan.com', 'shiva@mahadev.com', 'brahma@rachyeta.com']

In [10]:
import pandas as pd

In [15]:
df_people=pd.DataFrame(people)
df_people

  first    last           email
0   ram  prasad  ram@prasad.com

In [30]:
# create dataframe
df_god=pd.DataFrame(god)
df_god

    first      last                email
0  vishnu   narayan   vishnu@narayan.com
1   shiva   mahadev    shiva@mahadev.com
2  brahma  rachyeta  brahma@rachyeta.com

In [31]:
# type of dataframe
type(df_god)

pandas.core.frame.DataFrame

In [32]:
# show one columns in dataframe
df_god['email']

0     vishnu@narayan.com
1      shiva@mahadev.com
2    brahma@rachyeta.com
Name: email, dtype: object

In [33]:
# type of columns --> series
type(df_god['email'])

pandas.core.series.Series

In [34]:
# columsn field name as attribute of dataframe
df_god.email

0     vishnu@narayan.com
1      shiva@mahadev.com
2    brahma@rachyeta.com
Name: email, dtype: object

In [35]:
# count in dataframe
df_god.count

<bound method DataFrame.count of     first      last                email
0  vishnu   narayan   vishnu@narayan.com
1   shiva   mahadev    shiva@mahadev.com
2  brahma  rachyeta  brahma@rachyeta.com>

In [36]:
# columns in dataframe
df_god.columns

Index(['first', 'last', 'email'], dtype='object')

In [37]:
# á¹£how row with index position
df_god.iloc[0]

first                vishnu
last                narayan
email    vishnu@narayan.com
Name: 0, dtype: object

In [46]:
# show rows index with column index
df_god.iloc[[0,2],[0,2]]

    first                email
0  vishnu   vishnu@narayan.com
2  brahma  brahma@rachyeta.com

In [48]:
# show rows index and column with field name
df_god.loc[[0,2],['first','email']]

    first                email
0  vishnu   vishnu@narayan.com
2  brahma  brahma@rachyeta.com

In [49]:
df_god.shape

(3, 3)