In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
# numpy
data_np=np.array(['a','b','c'])
series_np=pd.Series(data_np)
series_np

0    a
1    b
2    c
dtype: object

In [6]:
# list
data_list=['a','b','c']
series_list=pd.Series(data_list)
series_list

0    a
1    b
2    c
dtype: object

In [45]:
# dictionary
data_dict={
    'a':1,
    'b':2,
    'c':3
}
series_dict=pd.Series(data_dict)
series_dict

a    1
b    2
c    3
dtype: int64

In [ ]:
# scalar

In [7]:
# accessing elements

In [13]:
series_dict[:]

a    1
b    2
c    3
dtype: int64

In [14]:
series_dict[1:]

b    2
c    3
dtype: int64

In [15]:
series_dict[::-1]

c    3
b    2
a    1
dtype: int64

In [16]:
# csv

In [22]:
df_csv=pd.read_csv("..\data.csv")
df_csv

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
series_csv=pd.Series(df_csv['Species'])
series_csv

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [24]:
# indexing

In [27]:
series_csv.loc[2:5]

2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
Name: Species, dtype: object

In [29]:
series_csv.iloc[2:5]

2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [30]:
# binary operatiions

In [38]:
series1=data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
series2=pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
print(series1)
print(series2)

a    5
b    2
c    3
d    7
dtype: int64
a    1
b    6
d    4
e    9
dtype: int64

In [40]:
# addition
series1.add(series2)

a     6.0
b     8.0
c     NaN
d    11.0
e     NaN
dtype: float64

In [41]:
series1.add(series2, fill_value=0)

a     6.0
b     8.0
c     3.0
d    11.0
e     9.0
dtype: float64

In [42]:
# substraction
series1.sub(series1)

a    0
b    0
c    0
d    0
dtype: int64

In [43]:
# multiplication
series1.mul(series2)

a     5.0
b    12.0
c     NaN
d    28.0
e     NaN
dtype: float64

In [44]:
# division
series1.div(series2)

a    5.000000
b    0.333333
c         NaN
d    1.750000
e         NaN
dtype: float64