In [1]:
import pandas as pd

In [9]:
data1={
    'row1':[1,5,8],
    'row2':[5,87,7],
    'row3':[8,77,996]
}
data1

{'row1': [1, 5, 8], 'row2': [5, 87, 7], 'row3': [8, 77, 996]}

In [10]:
data2={
    'row1':[14,85,78],
    'row2':[5,875,17],
    'row3':[48,77,996]
}
data2

{'row1': [14, 85, 78], 'row2': [5, 875, 17], 'row3': [48, 77, 996]}

In [11]:
df1=pd.DataFrame(data1)
df1

   row1  row2  row3
0     1     5     8
1     5    87    77
2     8     7   996

In [12]:
df2=pd.DataFrame(data2)
df2

   row1  row2  row3
0    14     5    48
1    85   875    77
2    78    17   996

In [13]:
# operations

In [14]:
# addition
df1().add(df2)

TypeError: 'DataFrame' object is not callable